* {
    margin: 0;
    /* border: solid 1px black; */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

header {
    background-color: #1F2937;
    padding: 10px 200px 0;
    flex-grow: 1;
    display: flex;
    align-items: end;
    gap: 10px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    height: 30px;
    border-radius: 5px;
    max-width: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.top-content {
    background-color: #1F2937;
    padding: 100px 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}

.top-content .text {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 450px;
}

.top-content .img-placeholder {
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.top-content .right {
    flex-grow: 1;
}

.top-content .left {
    display: flex;
    flex-direction: column;
}

.top-content button {
    border: none;
    margin-top: 5px;
}

.information {
    padding: 100px 0;
}

.information .strong-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    justify-self: center;
    margin-bottom: 50px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 0 310px;
    gap: 50px;
}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.info-column div {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info-column p {
    max-width: 150px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 100px 310px
}

.testimonial .text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.attribution {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.ad {
    background-color: #3882F6;
    color: white;
    margin: 100px 230px;
    padding: 40px 80px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad .left {
    display: flex;
    flex-direction: column;
}

.ad .left .strong-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.ad .left .text {
    color: #E5E7EB;
    font-size: 18px;
}

.ad button {
    color: #F9FAF8;
    text-wrap: nowrap;
    border: solid 2px #F9FAF8;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: #E5E7EB;
    text-align: center;
    background-color: #1F2937;
    padding: 30px;
}